@page
@model WebApp.Pages.Game.ChooseLocation

@{
    ViewData["Title"] = @Model.GameShipConfigFromDb.ShipName + " location";
    char[] alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray();
}

<div class="row">
    <div class="col d-flex justify-content-center">
        <h3>Choose location of ship "@Model.GameShipConfigFromDb.ShipName" with size @Model.SizeX x @Model.SizeY</h3>
    </div>
</div>

@if (Model.Error)
{
    <div class="row">>
        <div class="col d-flex justify-content-center">
            <div class="alert alert-danger" role="alert">
                Wrong ship placements
            </div>
        </div>
    </div>
}

<div class="row">
        @{var ratio = 100 / (@Model.GameConfigFromDb.BoardSizeX + 1) ;}
        <div class="col">
                <div class="game_board_container" style="margin: auto">
                    
                    <div class="game_board_row" style="margin: auto">
                    @for (var a = 0; a < @Model.GameConfigFromDb.BoardSizeX + 1; a++)
                    {
                            <div class="game_board_cell" style="width: @ratio%; padding: @ratio% 0 0;">
                                @if (a == 0)
                                    {
                                        <div class="aaa">#</div>
                                    }
                                    else
                                    {
                                        var t = alpha[(a - 1) % 26];
                                        <div class="aaa">@t</div>
                                    }
                            </div>
                    }
                    </div>
                    <br style="clear:both"/>


                    @for (var y = 0; y < @Model.GameConfigFromDb.BoardSizeY; y++)
                    {
                        <div class="game_board_row ">
                            <div class="game_board_cell" style="width: @ratio%; padding: @ratio% 0 0;">
                                <div class="aaa">@y</div>
                            </div>
                            @for (var x = 0; x < @Model.GameConfigFromDb.BoardSizeX; x++)
                            {
                                var cellClass = @GetCellClass(@x, @y);
                                <form method="post">
                                    <input asp-for="@Model.GameSaveId" value="@Model.GameSaveFromDb.GameSaveId" type="hidden">
                                    <input asp-for="@Model.shipName" value="@Model.GameShipConfigFromDb.ShipName" type="hidden">
                                    <input asp-for="@Model.SizeX" value="@Model.SizeX" type="hidden">
                                    <input asp-for="@Model.SizeY" value="@Model.SizeY" type="hidden">
                                    <input asp-for="@Model.ShipId" value="@Model.ShipId" type="hidden">
                                    <input asp-for="@Model.Player" value="@Model.Player" type="hidden">
                                        
                                    <input asp-for="@Model.CoordinateString" value="@x-@y" type="hidden">
                                    <input id="@x-@y" type="submit" class=" @cellClass game_board_cell" style="width: @ratio%; padding: @ratio% 0 0;">

                                </form>
                            }
                        </div>
                        <br style="clear:both"/>
                    }
                </div>
            </div>
    </div>



<style>
    .game_board_cell {
        border:1px solid #c3c3c3;
        border-collapse: collapse;
        background-color: #fbfbfb  ;
        float: left;
        height: 0;
        position: relative;
    }
    
    .aaa{
       font-size: 3vh;
       position:  absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
    }
    
    .selected {
        background-color: #6ad4ff ;
    }
    
    .placed {
        background-color: #1b6ec2;
    }
    
    .sunk {
        background-color: #ffa8a8;
    }
    
</style>

@functions
{

    public string GetCellClass(int x, int y)
    {
        var state = Model.Brain.GameBoards[Model.Player].Board[x, y];
        
        switch (state.ToString())
        {
            case "8":
                return "placed";
            case "X":
                return "hit";
            case "-":
                return "miss";
        }
        return "";
    }
}

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>

    $( ".game_board_cell" ).hover(
        function() {
            let id = $( this ).attr('id')
            let xy = id.split("-")
            let x = parseInt(xy[0])
            let y = parseInt(xy[1])
            for(let ySize = 0; ySize < @Model.SizeY; ySize++) {
              for(let xSize = 0; xSize < @Model.SizeX; xSize++) {
                  let Xt = x + xSize
                  let Yt = y + ySize
                  let id = Xt + "-" + Yt
                  $ ( "#" + id ).addClass( "selected" );
              }
            }
               
        }, function() {
            let id = $( this ).attr('id')
            let xy = id.split("-")
            let x = parseInt(xy[0])
            let y = parseInt(xy[1])
            for(let ySize = 0; ySize < @Model.SizeY; ySize++) {
              for(let xSize = 0; xSize < @Model.SizeX; xSize++) {
                  let Xt = x + xSize
                  let Yt = y + ySize
                  let id = Xt + "-" + Yt
                  $ ( "#" + id ).removeClass( "selected" );
              }
            } 
        }
    );
</script>

