@page
@model WebApp.Pages_ShipConfiguration.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameShipConfig[0].ShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameShipConfig[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameShipConfig[0].ShipSizeX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameShipConfig[0].ShipSizeY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameShipConfig[0].GameConfig)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GameShipConfig) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipSizeX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipSizeY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameConfig!.ConfigName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GameShipConfigId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GameShipConfigId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GameShipConfigId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
